.weatherForecast {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 20px;
}
.weatherForecast canvas {
  display: block;
  width: 20px;
  margin: 0 auto;
}

.hourlyHeader {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-top: 90px;
}
