table {
  border-collapse: none;
  margin: 10px;
  table-layout: auto;
}

.weather {
  border: 5px solid black;
  font-family: "Merriweather", serif;
  margin-top: 50px;
  padding: 13px;
  background-color: #e4e4e1;
  background-color: #cddcdc;
  background-image: radial-gradient(
      at 50% 100%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    );
  background-blend-mode: screen, overlay;
}

.weather .search {
  text-align: left;
}

.weather .formControl {
  padding: 2px;
  margin: 1px;
  margin-bottom: 5px;
}

.weather .btn {
  padding: 0.2rem 0.55rem;
  margin: 0.06rem;
  vertical-align: top;
}

.weather .cityHeader {
  font-size: 60px;
  font-weight: 600;
  margin: 10px 20px 2px 70px;
}

.weather .date {
  font-size: 40px;
  font-weight: 500;
  margin: 10px 20px 2px 10px;
}

.weather .currentContainer {
  vertical-align: center;
  margin-left: 60px;
}
.weather .current {
  font-size: 80px;
  font-weight: bold;
  vertical-align: center;
  margin-left: 40px;
}
.weather .currentTemp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  vertical-align: center;
}

.weather .weatherDescription {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;
  margin-left: 3px;
  vertical-align: top;
}

.weatherInfo {
  margin: 0 auto;
}

.weather .tableCategory {
  padding: 11px 15px;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  margin: 10px;
}

.weather .hiCater {
  padding-left: 7px;
  padding-right: 0;
}

.weather .windMeasure {
  font-size: 21px;
  font-weight: bold;
}
.weather .windCater {
  padding-right: 10px;
}

.weather .humidCater {
  padding-left: 30px;
  padding-right: 15px;
}

.weather .info {
  font-weight: bold;
  padding: 0 15px;
  text-align: center;
  font-size: 30px;
}

.weather .tempHiInfo {
  padding-left: 12px;
}
